.app-container-grid {
  display: grid;
  grid-template-rows: 1fr 7fr 1fr;
  height: 100vh;
}

  /* .main-header,
  .main-footer {
  background-color: #3d423c;
  display: grid;
  grid-template-columns: 1fr 6fr 2fr;
} */

.main-header,
.main-container-grid,
.main-footer {}

/* .main-container-grid {
  display: grid;
  grid-template-columns: 1fr 6fr 2fr;
} */

/* .align-center {
  justify-self: center;
  align-self: center;
  margin: 15px;
  border: 1px dashed #CCC;
  height: 65%;
  width: 100%;
  color: #FFF;

} */